<div class="sidenav" id="siemka">
  <div *ngFor="let post of posts; let index=index; let odd=odd; let even=even;" class="row" [ngClass]="{ odd: odd, even: even, selected: index===selectedPost }
" (click)="selectPost(index)">
    <div class="textcontainer">
      <span class="subname">{{post.data.subreddit_name_prefixed}}</span>
      <div class="titleandpoints">
        <div [ngStyle]="{'background': this.utils.upvoteToColor(post.data.ups)}">
          <span class="points">{{this.utils.formatScore(post.data.ups)}}</span>
        </div>
        <span class="title">{{post.data.title}}</span>
      </div>
    </div>
    <img *ngIf="post.data.thumbnail !== 'self'" src={{getThumbnailUrl(post)}} (click)="dumpPost(post)" />
  </div>
</div>
