.sidenav {
    height: 100%;
    width: 25vw;
    position: fixed;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: column;
    /* background: #eff7ed; */
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.even {
    background: white;
}

.selected {
    background: #dddddd;
}

.subname {
    font-weight: bold;
    text-align: left;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

img {
    width: 4vw;
    align-self: center;
}

.container2 {
    height: 100%;
    display: flex;
    align-items: center;
    width: 20vw;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.points {
    font-weight: bold;
}
