.children {
    margin-left: 2vw;
}

.commentcontainer {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

.author {
    margin-left: 1vw;
    /* font-weight: bold; */
    /* color: grey; */
}

.points {
    font-weight: bold;
}